option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-08ffe875f3d5d5d0e"
    Subnets: "subnet-067957e8667a5f822,subnet-025fd54011cf47990,subnet-09a38b64ff19d98b9"
    ELBSubnets: "subnet-04e497af75c5605d7,subnet-0090afa2773818134,subnet-08347137f7961129d"
    ELBScheme: "public"
    AssociatePublicIpAddress: false

  aws:autoscaling:asg:
    Availability Zones: "Any 3"
    Cooldown: "720"
    MaxSize: "4"
    MinSize: "2"

  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.small"
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    ImageId: "ami-06b7b4c59958307ec"
    EC2KeyName: "aws-eb"
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: "gp3"
    RootVolumeSize: "20"

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    BreachDuration: "5"
    LowerThreshold: "30"
    UpperThreshold: "50"

  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"

  aws:elasticbeanstalk:command:
    DeploymentPolicy: "AllAtOnce"

  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"
    EvaluationTime: "10"

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckPath: "/"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "80"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"