option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-056c43c4d232e6af6"
    Subnets: "subnet-0f4ee1ee9afeca6f7, subnet-05904b0cd523ffac4, subnet-061a110e243e6b8e9"
    ELBSubnets: "subnet-0adbc1827625422b9, subnet-01adf952bf9d3067a, subnet-056ce38fb5fb85cfe"
    ELBScheme: "public"
    AssociatePublicIpAddress: false

  aws:autoscaling:asg:
    Availability Zones: "Any 3"
    Cooldown: "720"
    MaxSize: "4"
    MinSize: "2"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none

  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.small"
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    EC2KeyName: "aws-eb"
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: "gp3"
    RootVolumeSize: "20"
    RootVolumeIOPS: "3000"

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    BreachDuration: "5"
    LowerThreshold: "30"
    UpperThreshold: "50"

  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"

  aws:elasticbeanstalk:command:
    DeploymentPolicy: "AllAtOnce"

  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"
    EvaluationTime: "10"

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckPath: "/"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "80"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"
