option_settings:
  aws:ec2:vpc:
    VPCId: "vpc-09c0933fc1bcc2a54"
    Subnets: "subnet-073fad262dc83e4a9,subnet-0089384de5520b6c2,subnet-066293866be7bf5b3"
    ELBSubnets: "subnet-0da4e2c6c060851f2,subnet-0f3d41605521a90b5,subnet-0ee576fdac86c8e4c"
    ELBScheme: "public"
    AssociatePublicIpAddress: false

  aws:autoscaling:asg:
    Availability Zones: "Any 3"
    Cooldown: "720"
    MaxSize: "4"
    MinSize: "2"

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none

  aws:autoscaling:launchconfiguration:
    InstanceType: "t3.small"
    MonitoringInterval: "1 minute"
    DisableIMDSv1: false
    EC2KeyName: "aws-eb"
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    RootVolumeType: "gp3"
    RootVolumeSize: "20"
    RootVolumeIOPS: "3000"

  aws:autoscaling:trigger:
    MeasureName: "CPUUtilization"
    Unit: "Percent"
    BreachDuration: "5"
    LowerThreshold: "30"
    UpperThreshold: "50"

  aws:elasticbeanstalk:environment:
    LoadBalancerType: "application"

  aws:elasticbeanstalk:application:environment:
    KEY: "value"

  aws:elasticbeanstalk:command:
    DeploymentPolicy: "AllAtOnce"

  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"
    EvaluationTime: "10"

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: "20"
    HealthCheckInterval: "15"
    HealthCheckPath: "/"
    HealthCheckTimeout: "5"
    HealthyThresholdCount: "3"
    UnhealthyThresholdCount: "5"
    Port: "80"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"
